# # JWT Secret Key used for signing and verifying JSON Web Tokens
# JWT_SECRET=

# # MongoDB connection string for connecting to the database
# MONGODB_URL=

# # Hostname of the mail server used for sending emails
# MAIL_HOST=

# # Username of the email account used for sending emails
# MAIL_USER=

# # Password of the email account used for sending emails
# MAIL_PASS=




MAIL_HOST = smtp.gmail.com
MAIL_USER = kidssfake07@gmail.com
MAIL_PASS = uzmndwbwycfcsfda 

PORT = 4000
MONGODB_URL = "mongodb+srv://rithikpalangwal456_db_user:jFMNPvIaJNeYUQfl@cluster88.updnzps.mongodb.net/codeNotion"


# "mongodb+srv://rithikpalangwal456:KxUJpgAwcZh9fxcd@cluster0.yvjvk.mongodb.net/studyNotion"
# mongodb+srv://rithikpalangwal456:KxUJpgAwcZh9fxcd@cluster0.yvjvk.mongodb.net/?appName=Cluster0
# "mongodb+srv://rithikpalangwal456:KxUJpgAwcZh9fxcd@cluster0.rfpsqzq.mongodb.net/studyNotion"
#"mongodb+srv://rithikpalangwal456:<db_password>@cluster0.yvjvk.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
# "mongodb+srv://rithikpalangwal456:KxUJpgAwcZh9fxcd@cluster0.rfpsqzq.mongodb.net/studyNotion"
# mongodb+srv://rithikpalangwal456:KxUJpgAwcZh9fxcd@cluster0.yvjvk.mongodb.net/studyNotion

JWT_SECRET = rithikpalangwal456
FOLDER_NAME = "StudyFolder"

RAZORPAY_KEY = rzp_test_eqXwkIvaQz3kdr
RAZORPAY_SECRET = dpAMIAK1GuGvHKEVz2RGLeOQ

CLOUD_NAME = dlzp9yvy1
API_KEY = 918951755839261
API_SECRET = xdNWee0SMwopWPox0XM8Qm07dUw







# # JWT Secret Key used for signing and verifying JSON Web Tokens
# JWT_SECRET=

# # MongoDB connection string for connecting to the database
# MONGODB_URL=

# # Hostname of the mail server used for sending emails
# MAIL_HOST=

# # Username of the email account used for sending emails
# MAIL_USER=

# # Password of the email account used for sending emails
# MAIL_PASS=